{
    "extends": [
        "stylelint-config-wordpress/scss"
    ],
    "rules": {
        "indentation": 4,
        "selector-pseudo-element-colon-notation": "single",
        "no-descending-specificity": null,
        "selector-class-pattern": null,
        "selector-id-pattern": null,
        "font-weight-notation": null,
        "no-duplicate-selectors": null,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "inside-block"
                ],
                "ignoreAtRules": [
                    "include",
                    "mixin",
                    "import",
                    "each",
                    "if",
                    "keyframes",
                    "function",
                    "for"
                ]
            }
        ]
    }
}