#actualites
{

	div:last-of-type
	{
		display: flex;
		flex-direction: column;

		.display-more
		{
			text-align: center;
			color: $black;
			font-size: 18px;
			font-weight: $bold;
			padding: 40px 0;
		}
	}
}
