.evenement
{
	padding-bottom: 50px;

	&>p:first-of-type
	{
		font-weight: $bold;
		font-size: 18px;
	}

	h3
	{
		padding-top: 4px;
		padding-bottom: 8px;
		font-size: 21px;
	}

	&>p:last-of-type
	{
		a
		{
			color: $black;
			word-wrap: break-word;
		}
	}
}
