/** Search form */
.search-form
{
	padding-bottom: 100px;
	padding-top: 20px;

	input
	{
		padding: 5px;
		outline: none;
		border-radius: 5px;
	}

	input[type="search"]
	{
		border: 1px solid $black;
		color: $black;
		width: 30%;
	}

	input[type="submit"]
	{
		background: $red;
		color: $white;
		border: 1px solid $red;
		width: 15%;
	}
}

@media all and (max-width: 768px)
{
	.search-form
	{
	    width: 100%;
	    margin: auto;
	    display: flex;
	    justify-content: space-between;

		input[type="search"]
		{
			width: 78%;
		}

		input[type="submit"]
		{
			width: 20%;
		}
	}
}

@media all and (max-width: 480px)
{
	.search-form
	{
		flex-direction: column;

		input[type="search"]
		{
			width: 100%;
		}

		input[type="submit"]
		{
			width: 40%;
			margin: auto;
			margin-top: 20px;
		}
	}
}
