.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.nav-primary {
	position: fixed;
	z-index: 1000;
	width: 100%;
	background: $white;
	padding-bottom: 10px;
	padding-top: 10px;
  box-shadow: 0 2px 15px #0000001C;

	div ul {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
      margin: 0 15px;

      a {
        color: $black;
      }
    }

		span
		{
			display: block;
			width: 1px;
		    height: 25px;
		    background: $black;
		}
	}
}

.banner .nav a, .banner .nav2 a, .banner .nav3 a
{
	padding-left: 0;
	padding-right: 0;
}

.banner
{
	position: relative;

	.logo-top-left
	{
		position: fixed;
		z-index: 1000;
		top: 7px;
		left: 30px;
		width: 75px;
	}
}


.hamburger
{
	padding-top: 0;
	display: none;
	position: fixed;
	z-index: 1000;
	top: 12px;
	right: 30px;
	transform: scale(0.8);
}


@media all and (max-width: 980px)
{
	.nav-primary
	{
		padding-bottom: 0px;
		padding-top: 0px;
		min-height: 50px;
	}

	.banner .nav, .banner .nav2, .banner .nav3
	{
		display: none;
		padding-top: 50px;
		padding-bottom: 5px;
	}
	.hamburger
	{
		display: block;
	}
}


@media all and (max-width: 600px)
{
	.banner .nav, .banner .nav2, .banner .nav3
	{
		display: none;
		text-align: center;
		flex-direction: column;

		a
		{
			padding-top: 10px;
		}
	}

	.nav-primary
	{
		div ul
		{
			span
			{
				height: 1px;
				width: 100px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
}
