#footer
{
  padding: 80px 0 40px;
	background: $black;

  h2 {
    margin-bottom: 60px;
  }

	* {
		color: $white;
	}

	&>p:last-of-type
	{
		text-align: center;
		font-size: 10pt;
		padding-top: 100px;
	}

  h3 {
    margin-bottom: 30px;
  }

  .footerText {
    margin-bottom: 30px;
  }

	.footerContent
	{
		display: flex;
		flex-wrap: wrap;
    margin-bottom: 40px;
	}

  .footerContact {
    width: 50%;
    padding-right: 80px;
    display: flex;
    flex-direction: column;

    &Item {
      display: flex;
      margin-bottom: 30px;

      img {
        margin-right: 20px;
        object-fit: contain;
      }
    }
  }

  .footerBureau {
    width: 50%;
    padding-right: 80px;
  }

  .footerCopyright {
    font-size: 11px;
    text-align: center;
    display: block;
  }
}




@media all and (max-width: 768px)
{

}


@media all and (max-width: 480px)
{
	#footer
	{
		.footerContent
		{
			flex-direction: column;

			&>div:first-of-type
			{
				padding-top: 30px;
				width: 100%;
				display: flex;

				div>*
				{
					padding-bottom: 30px;
				}
			}

			&>div:last-of-type
			{
				padding-top: 60px;
				width: 100%;
			}
		}
	}
}


@media all and (max-width: 320px)
{
	#footer
	{
		&>p:first-of-type
		{
			width: 80%;
		}
	}
}

.editLink {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 20px;
  background: $red;
  color: $white;
  padding: 10px 30px;
  font-weight: 600;
}
