section
{
	background: $white;
	box-shadow: 0px 2px 15px #0000001C;
}


.h2
{
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 70px;
	padding-bottom: 80px;

	h2
	{
		width: auto;
		position: absolute;
		z-index: 500;
		background: $white;
		padding-right: 15px;
	}

	span
	{
		width: 0%;
		height: 2px;
		background: $red;
		position: absolute;
		display: inline-block;
	}
}