section
{
}

section#all-posts
{
	box-shadow: none;
}


.h2
{
	display: flex;
	align-items: center;
	position: relative;
	padding-top: 70px;
	padding-bottom: 80px;

	h2
	{
		width: auto;
		position: absolute;
		z-index: 500;
		background: $white;
		padding-right: 15px;
	}

	span
	{
		width: 0%;
		height: 2px;
		background: $red;
		position: absolute;
		display: inline-block;
	}
}


@media all and (max-width: 480px)
{
	.h2
	{
		padding-top: 100px;
		padding-bottom: 100px;

		h2
		{
			padding-right: 0px;
			text-align: center;
			width: 100%;
		}

		span
		{
			display: none;
		}
	}
}
