@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600;800&display=swap');

body {
  color: $black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 800;
  line-height: 1;
	color: $red;
}

p
{
	margin: 0;
}

h1 {
  font-size: 80px;
}

h2
{
	font-size: 40px;
}

h3
{
	font-size: 24px;
	font-weight: 700;
	color: $red;
}
