/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #c73442
);

//COLORS
$white: #FAFAFA;
$red: #c73442;
$black: #222;

//FONT WEIGHT
$regular: 400;
$bold: 700;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
